nav{
    background-color: white;
}

nav a{
    color:#212529 !important;
}

.content{
    background-color: white;
}

footer{
    background-color: white;
}

.btn-social-media{
    border-color: #212529;
}