nav{
    background-color: white;
}

nav a{
    color:#33383d !important;
}

nav .navbar-toggler {
    color: rgba(0,0,0,.55);
    border-color: rgba(0,0,0,.1);
}

nav .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.content{
    background-color: white;
    color: #33383d;
}

.commentaire {
    background-color: #e9e9e9;
}

input[type=text], textarea{
    background-color: white;
}

footer{
    background-color: white;
}

.btn-social-media{
    border-color: #33383d;
}

.btn-social-media, .btn-social-media i, i#bgcolor, .navbar-toggler-icon{
    border-color: #33383d;
    color: #33383d;
}