html{
    overflow-x: hidden;
}

body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.main{
    flex: 1;
}

h2{
    font-family: 'Creepster', cursive;
}

#light, #bgcolor, #bgImage{
    cursor:pointer;
}

#colorPicker{
    display: none;
}

#themeValue{
    display: none;
}

.tuile li{
    margin-bottom: 10px;
}

.tuile li img{
    width: 100%;
    border-radius: 10%;
}

ul{
    padding: 0 2em 0 2em;
    list-style: none;
}

h2, section, .legend{
    text-align: justify;
}

#carouselMangas img{
    width: 100%;
    border-radius: 5%;
}