html{
    overflow-x: hidden;
}

body{
    background-image: url('images/pexels-rodnae-productions-7915289.jpg');
    background-size: cover;
}

@font-face {
    font-family: "Video Games";
    font-weight: bold;
    font-size: normal;
    src: local("/fonts/batman_forever/batmfa__.ttf") format("truetype"),
           local("/fonts/batman_forever/batmfo__.ttf") format("truetype");
   }

h1{
    font-family: "Video Games";
}

#light{
    cursor:pointer;
}

.tuile li{
    margin-bottom: 10px;
}

.tuile li img{
    width: 100%;
}

ul{
    padding: 0 2em 0 2em;
    list-style: none;
}

q{
    text-align: justify;
}

/* footer {
    position:absolute;
    width: 100%;
    bottom:0;
} */

/* Gérer les medias queries pour adapter les jaquettes en fonction du size screen */