html{
    overflow-x: hidden;
}

body{
    background-image: url('images/pexels-rodnae-productions-7915289.jpg');
    background-size: cover;
}

@media only screen and (min-width : 769) {
    ul.tuile{
        justify-content: center !important;
    }
} 

@font-face {
    font-family: "Video Games";
    font-weight: bold;
    font-size: normal;
    src: local("/fonts/batman_forever/batmfa__.ttf") format("truetype"),
           local("/fonts/batman_forever/batmfo__.ttf") format("truetype");
   }

h1{
    font-family: "Video Games";
}

#light{
    cursor:pointer;
}

.tuile li{
    margin-bottom: 10px;
}

.tuile li img{
    width: 100%;
    border-radius: 10%;
}

ul{
    padding: 0 2em 0 2em;
    list-style: none;
}

h1, aside{
    text-align: justify;
}

/* aside p{
    display: block;
} */

/* Gérer les medias queries pour adapter les jaquettes en fonction du size screen */